## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("../Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
application_df.describe()

                EIN        STATUS       ASK_AMT  IS_SUCCESSFUL
count  3.429900e+04  34299.000000  3.429900e+04   34299.000000
mean   5.191852e+08      0.999854  2.769199e+06       0.532406
std    2.451472e+08      0.012073  8.713045e+07       0.498956
min    1.052060e+07      0.000000  5.000000e+03       0.000000
25%    2.748482e+08      1.000000  5.000000e+03       0.000000
50%    4.656317e+08      1.000000  5.000000e+03       1.000000
75%    7.526117e+08      1.000000  7.742000e+03       1.000000
max    9.960869e+08      1.000000  8.597806e+09       1.000000

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(["EIN", "NAME"], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
application_df['AFFILIATION'].value_counts()

Independent         18480
CompanySponsored    15705
Family/Parent          64
National               33
Regional               13
Other                   4
Name: AFFILIATION, dtype: int64

In [6]:
application_df['SPECIAL_CONSIDERATIONS'].value_counts()

N    34272
Y       27
Name: SPECIAL_CONSIDERATIONS, dtype: int64

In [7]:
application_df['IS_SUCCESSFUL'].value_counts()

1    18261
0    16038
Name: IS_SUCCESSFUL, dtype: int64

In [8]:
application_df=application_df.drop(['USE_CASE'],axis=1)

In [9]:
application_df.shape

(34299, 9)

In [10]:
application_df=application_df[application_df['ASK_AMT']<8000]

In [11]:
application_df.shape

(25749, 9)

In [12]:
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,Association,1,0,N,5000,1
2,T5,CompanySponsored,C3000,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Trust,1,10000-24999,N,6692,1
5,T3,Independent,C1200,Trust,1,0,N,5000,1
9,T5,CompanySponsored,C3000,Association,1,0,N,5000,0

In [13]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE           12
AFFILIATION                 6
CLASSIFICATION             64
ORGANIZATION                4
STATUS                      2
INCOME_AMT                  9
SPECIAL_CONSIDERATIONS      2
ASK_AMT                   324
IS_SUCCESSFUL               2
dtype: int64

In [14]:
# Look at APPLICATION_TYPE value counts for binning
app_value_count = application_df["APPLICATION_TYPE"].value_counts()
app_value_count

T3     19794
T4      1324
T19      998
T5       887
T6       863
T8       662
T7       624
T10      508
T13       54
T9        16
T12       13
T2         6
Name: APPLICATION_TYPE, dtype: int64

In [15]:
# application_df[application_df["APPLICATION_TYPE"]!='T3']["APPLICATION_TYPE"].hist(bins=50)

In [16]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_value_count[app_value_count < 50].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       19794
T4        1324
T19        998
T5         887
T6         863
T8         662
T7         624
T10        508
T13         54
Other       35
Name: APPLICATION_TYPE, dtype: int64

In [17]:
# Look at CLASSIFICATION value counts for binning
val_counts_binning = application_df['CLASSIFICATION'].value_counts()
val_counts_binning.head(10)

C1000    12364
C2000     4641
C1200     3959
C2100     1602
C3000     1527
C7000      530
C1700      221
C4000      123
C5000      106
C1270       88
Name: CLASSIFICATION, dtype: int64

In [18]:
# You may find it helpful to look at CLASSIFICATION value counts >1
new_val_counts_binning = val_counts_binning[val_counts_binning  > 1]
new_val_counts_binning.tail()

C1260    3
C0       2
C1267    2
C1246    2
C1256    2
Name: CLASSIFICATION, dtype: int64

In [19]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(val_counts_binning[val_counts_binning < 50].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    12364
C2000     4641
C1200     3959
C2100     1602
C3000     1527
C7000      530
Other      390
C1700      221
C4000      123
C5000      106
C1270       88
C2700       75
C7100       62
C2800       61
Name: CLASSIFICATION, dtype: int64

In [20]:
application_df.shape

(25749, 9)

In [21]:
application_df.nunique()

APPLICATION_TYPE           10
AFFILIATION                 6
CLASSIFICATION             14
ORGANIZATION                4
STATUS                      2
INCOME_AMT                  9
SPECIAL_CONSIDERATIONS      2
ASK_AMT                   324
IS_SUCCESSFUL               2
dtype: int64

In [23]:
application_df_dummies=pd.get_dummies(application_df,drop_first=True)

In [24]:
application_df_dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T13,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,ORGANIZATION_Trust,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,1,6692,1,0,0,0,1,0,0,0,...,1,0,1,0,0,0,0,0,0,0
5,1,5000,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
9,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
# Split our preprocessed data into our features and target arrays

X = application_df_dummies.drop(columns=["IS_SUCCESSFUL"])
y = application_df_dummies["IS_SUCCESSFUL"].values


# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0, stratify=y)

In [26]:
X_train.shape

(19311, 41)

In [27]:
X_train.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T13,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,ORGANIZATION_Trust,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_Y
16639,1,5000,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4634,1,5000,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
6139,1,5000,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5197,1,5000,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
23701,1,5000,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [28]:
from sklearn.preprocessing import MinMaxScaler
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [29]:
X_train_scaled.shape

(19311, 41)

## Compile, Train and Evaluate the Model

In [30]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
num_input_feat = X_train_scaled.shape[1]
first_node = 64
second_node = 32
third_node = 16

## Dense == Fully Connected
# - Number of units is usually a multiple of a power of 2: 4,8,16,32,64,128
nn = tf.keras.models.Sequential()
# First hidden layer
nn.add(tf.keras.layers.Dense(units=first_node, activation="relu", input_dim=num_input_feat)) 
# Second hidden layer
nn.add(tf.keras.layers.Dense(units=second_node, activation="relu"))
# Third hidden layer
nn.add(tf.keras.layers.Dense(units=third_node, activation="relu"))
# Four hidden layer
nn.add(tf.keras.layers.Dense(units=third_node, activation="relu"))
# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                2688

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 16)                528

 dense_3 (Dense)             (None, 16)                272

 dense_4 (Dense)             (None, 1)                 17

=================================================================
Total params: 5,585
Trainable params: 5,585
Non-trainable params: 0
_________________________________________________________________

In [31]:
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [32]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train,validation_data=(X_test_scaled,y_test), epochs=40)

Epoch 1/40
604/604 [==============================] - 1s 2ms/step - loss: 0.5603 - accuracy: 0.7293 - val_loss: 0.5424 - val_accuracy: 0.7459
Epoch 2/40
604/604 [==============================] - 1s 1ms/step - loss: 0.5352 - accuracy: 0.7470 - val_loss: 0.5361 - val_accuracy: 0.7473
Epoch 3/40
604/604 [==============================] - 1s 1ms/step - loss: 0.5328 - accuracy: 0.7480 - val_loss: 0.5320 - val_accuracy: 0.7474
Epoch 4/40
604/604 [==============================] - 1s 1ms/step - loss: 0.5322 - accuracy: 0.7472 - val_loss: 0.5321 - val_accuracy: 0.7499
Epoch 5/40
604/604 [==============================] - 1s 1ms/step - loss: 0.5310 - accuracy: 0.7482 - val_loss: 0.5319 - val_accuracy: 0.7502
Epoch 6/40
604/604 [==============================] - 1s 1ms/step - loss: 0.5302 - accuracy: 0.7496 - val_loss: 0.5320 - val_accuracy: 0.7501
Epoch 7/40
604/604 [==============================] - 1s 1ms/step - loss: 0.5293 - accuracy: 0.7489 - val_loss: 0.5326 - val_accuracy: 0.7499
Epoch 8/40
604/604 [==============================] - 1s 1ms/step - loss: 0.5288 - accuracy: 0.7501 - val_loss: 0.5315 - val_accuracy: 0.7432
Epoch 9/40
604/604 [==============================] - 1s 1ms/step - loss: 0.5287 - accuracy: 0.7478 - val_loss: 0.5303 - val_accuracy: 0.7496
Epoch 10/40
604/604 [==============================] - 1s 1ms/step - loss: 0.5280 - accuracy: 0.7500 - val_loss: 0.5294 - val_accuracy: 0.7507
Epoch 11/40
604/604 [==============================] - 1s 1ms/step - loss: 0.5279 - accuracy: 0.7506 - val_loss: 0.5320 - val_accuracy: 0.7502
Epoch 12/40
604/604 [==============================] - 1s 1ms/step - loss: 0.5277 - accuracy: 0.7480 - val_loss: 0.5329 - val_accuracy: 0.7498
Epoch 13/40
604/604 [==============================] - 1s 1ms/step - loss: 0.5272 - accuracy: 0.7503 - val_loss: 0.5289 - val_accuracy: 0.7516
Epoch 14/40
604/604 [==============================] - 1s 1ms/step - loss: 0.5275 - accuracy: 0.7493 - val_loss: 0.5292 - val_accuracy: 0.7499
Epoch 15/40
604/604 [==============================] - 1s 1ms/step - loss: 0.5269 - accuracy: 0.7502 - val_loss: 0.5308 - val_accuracy: 0.7519
Epoch 16/40
604/604 [==============================] - 1s 1ms/step - loss: 0.5263 - accuracy: 0.7499 - val_loss: 0.5302 - val_accuracy: 0.7474
Epoch 17/40
604/604 [==============================] - 1s 1ms/step - loss: 0.5259 - accuracy: 0.7495 - val_loss: 0.5329 - val_accuracy: 0.7521
Epoch 18/40
604/604 [==============================] - 1s 1ms/step - loss: 0.5262 - accuracy: 0.7499 - val_loss: 0.5288 - val_accuracy: 0.7515
Epoch 19/40
604/604 [==============================] - 1s 1ms/step - loss: 0.5254 - accuracy: 0.7493 - val_loss: 0.5328 - val_accuracy: 0.7499
Epoch 20/40
604/604 [==============================] - 1s 1ms/step - loss: 0.5261 - accuracy: 0.7487 - val_loss: 0.5323 - val_accuracy: 0.7501
Epoch 21/40
604/604 [==============================] - 1s 1ms/step - loss: 0.5260 - accuracy: 0.7498 - val_loss: 0.5324 - val_accuracy: 0.7485
Epoch 22/40
604/604 [==============================] - 1s 1ms/step - loss: 0.5253 - accuracy: 0.7505 - val_loss: 0.5297 - val_accuracy: 0.7507
Epoch 23/40
604/604 [==============================] - 1s 1ms/step - loss: 0.5244 - accuracy: 0.7510 - val_loss: 0.5302 - val_accuracy: 0.7519
Epoch 24/40
604/604 [==============================] - 1s 2ms/step - loss: 0.5244 - accuracy: 0.7514 - val_loss: 0.5294 - val_accuracy: 0.7507
Epoch 25/40
604/604 [==============================] - 1s 1ms/step - loss: 0.5244 - accuracy: 0.7507 - val_loss: 0.5308 - val_accuracy: 0.7504
Epoch 26/40
604/604 [==============================] - 1s 1ms/step - loss: 0.5243 - accuracy: 0.7515 - val_loss: 0.5315 - val_accuracy: 0.7523
Epoch 27/40
604/604 [==============================] - 1s 1ms/step - loss: 0.5244 - accuracy: 0.7506 - val_loss: 0.5313 - val_accuracy: 0.7516
Epoch 28/40
604/604 [==============================] - 1s 1ms/step - loss: 0.5242 - accuracy: 0.7508 - val_loss: 0.5294 - val_accuracy: 0.7519
Epoch 29/40
604/604 [==============================] - 1s 1ms/step - loss: 0.5237 - accuracy: 0.7519 - val_loss: 0.5324 - val_accuracy: 0.7513
Epoch 30/40
604/604 [==============================] - 1s 1ms/step - loss: 0.5237 - accuracy: 0.7514 - val_loss: 0.5294 - val_accuracy: 0.7519
Epoch 31/40
604/604 [==============================] - 1s 1ms/step - loss: 0.5237 - accuracy: 0.7515 - val_loss: 0.5307 - val_accuracy: 0.7524
Epoch 32/40
604/604 [==============================] - 1s 1ms/step - loss: 0.5233 - accuracy: 0.7512 - val_loss: 0.5323 - val_accuracy: 0.7498
Epoch 33/40
604/604 [==============================] - 1s 1ms/step - loss: 0.5244 - accuracy: 0.7507 - val_loss: 0.5355 - val_accuracy: 0.7519
Epoch 34/40
604/604 [==============================] - 1s 1ms/step - loss: 0.5233 - accuracy: 0.7514 - val_loss: 0.5350 - val_accuracy: 0.7507
Epoch 35/40
604/604 [==============================] - 1s 1ms/step - loss: 0.5226 - accuracy: 0.7522 - val_loss: 0.5359 - val_accuracy: 0.7507
Epoch 36/40
604/604 [==============================] - 1s 1ms/step - loss: 0.5227 - accuracy: 0.7511 - val_loss: 0.5349 - val_accuracy: 0.7529
Epoch 37/40
604/604 [==============================] - 1s 1ms/step - loss: 0.5232 - accuracy: 0.7522 - val_loss: 0.5330 - val_accuracy: 0.7505
Epoch 38/40
604/604 [==============================] - 1s 1ms/step - loss: 0.5228 - accuracy: 0.7519 - val_loss: 0.5330 - val_accuracy: 0.7501
Epoch 39/40
604/604 [==============================] - 1s 1ms/step - loss: 0.5226 - accuracy: 0.7517 - val_loss: 0.5344 - val_accuracy: 0.7502
Epoch 40/40
604/604 [==============================] - 1s 1ms/step - loss: 0.5223 - accuracy: 0.7523 - val_loss: 0.5334 - val_accuracy: 0.7499

In [33]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

202/202 - 0s - loss: 0.5334 - accuracy: 0.7499 - 171ms/epoch - 846us/step
Loss: 0.5333547592163086, Accuracy: 0.7499223351478577

In [34]:
# Export our model to HDF5 file
nn.save_weights('AlphabetSoupCharity_Optiized.hdf5')

In [49]:
from sklearn.metrics import accuracy_score,confusion_matrix
accuracy_score(y_test,y_pred_test)

0.7496116806461635

## Analysis

  1. Data Preprocessing
    * What variable(s) are considered the target(s) for your model?
    
    IS_SUCCESSFUL
    
    * What variable(s) are considered to be the features for your model?
    
    APPLICATION_TYPE	AFFILIATION	CLASSIFICATION	ORGANIZATION	STATUS	INCOME_AMT	SPECIAL_CONSIDERATIONS	ASK_AMT
    
    
    * What variable(s) are neither targets nor features, and should be removed from the input data?
    
    EIN, NAME 
    
  2. Compiling, Training, and Evaluating the Model
    * How many neurons, layers, and activation functions did you select for your neural network model, and why?
    The final model has:
        - 4 Layers
        - Number of nodes: 64, 32, 16, 16
        - Activation functions: relu on hidden layers and sigmoid on output layer
    The best performance was obtained with such network configuration.
    
    * Were you able to achieve the target model performance?
    
    Yes, the modification that allowed us to reach the target performance was removing outliers from the column ASK_AMT. All entries with ASK_AMT value higher than 8000 were removed
    
    
    * What steps did you take to try and increase model performance?
    
        - Changed threshold for each bin: <100
        - Increased the number of hidden layers: 2-->3
        - Changed the number of nodes on hidden layers
        - Changed activation function of hidden layers: tanh

        The change that achieved the highest accuracy:
        - Remove all entries that have outliers on the ASK_AMT: all entries with a value higher than 8000 were not included